@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@font-face {
    font-family: "MesloLGS NF";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/meslo-ngs-nf-400.woff2") format("woff2"),
        url("/fonts/meslo-ngs-nf-400.woff") format("woff");
    font-display: swap;
}
