@import "fonts";
@import "@patriarche/melkor/style/mixins";

.view-fade {
    &-enter-active,
    &-leave-active, {
        transition: opacity var(--app-transition-duration-opacity);
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}

.fade {
    &-enter-active,
    &-leave-active, {
        transition: opacity var(--app-transition-duration-opacity);
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}

* {
    @include light {
        --app-primary-tone-color: 66 184 131;
    }

    @include dark {
        --app-primary-tone-color: 66 184 131;
        --app-background-color: var(--c-grey-3);
    }
}
